---
import CreateQuiz from "@/components/quiz/CreateQuiz";
import Dashboard from "../layouts/Dashboard.astro";
---

<Dashboard title="Buat Kuis">
  <div> 
    <CreateQuiz client:only="react" />
  </div>  
</Dashboard>
