---
import Dashboard from "../layouts/Dashboard.astro"
import { supabase } from "../lib/supabase";

const style = {
  icon: "",
};
const {
  data: { user },
} = await supabase.auth.getUser();

const name = await supabase.from("users").select("*").eq("id", user.id);

---
<Dashboard title="Profile">
    <div class="bg-white shadow-md rounded-md p-2 font-poppins">
        <h2 class="text-2xl">Profile</h2>
        <label class="text-sm text-gray-600 pb-1 block font-poppins">Email</label>
        <input
            type="text"
            name="email"
            value={user.email}
            disabled
            class="border focus:outline-none rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full font-poppins" />
        <label class="text-sm text-gray-600 pb-1 block font-poppins">Nama</label>
        <input
            type="text"
            name="email"
            value={name.data[0].name}
            class="border focus:outline-none rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full font-poppins" />

    </div>
</Dashboard>