---
import Dashboard from "../layouts/Dashboard.astro";
import { createClient } from "@supabase/supabase-js";
import UsersData from "../components/users/UsersData";
import CardUser from "@/components/users/CardUser";


const supabaseAD = createClient(
  import.meta.env.SUPABASE_URL,
  import.meta.env.SUPABASE_SERVICE_KEY,
  {
    auth: {
      autoRefreshToken: false,
      persistSession: false,
    },
  }
);


const {
  data: { users },
} = await supabaseAD.auth.admin.listUsers();
let totalUsers = 0;
let newUsersThisWeek = 0;
totalUsers = users.length;

const oneWeekAgo = new Date();
oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);

newUsersThisWeek = users.filter((user) => {
  const createdAt = new Date(user.created_at);
  return createdAt >= oneWeekAgo;
}).length;


---

<Dashboard title="Users">
  <div class="grid grid-cols-4 gap-2">
    <CardUser title={"Total User"} value={totalUsers} />
    <CardUser title={"Total User Baru"} value={newUsersThisWeek} />
  </div>
  <div class="py-2">
    <UsersData client:load />
  </div>
</Dashboard>
