---
import Dashboard from "../layouts/Dashboard.astro";
import UsersData from "../components/users/UsersData";
import CardUser from "@/components/users/CardUser";
import { supabase } from "@/lib/supabase";





const {
  data:users,
} = await supabase.from('detail_user').select('created_at');
let totalUsers = 0;
let newUsersThisWeek = 0;
totalUsers = users.length;

const oneWeekAgo = new Date();
oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);

newUsersThisWeek = users.filter((user) => {
  const createdAt = new Date(user.created_at);
  return createdAt >= oneWeekAgo;
}).length;

 
---

<Dashboard title="Users">
  <div class="grid grid-cols-4 gap-2">
    <CardUser title={"Total User"} value={totalUsers} />
    <CardUser title={"Total User Baru"} value={newUsersThisWeek} />
  </div>
  <div class="py-2">
    <UsersData client:only />
  </div>
</Dashboard>
